body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#quoteContainer, #catContainer {
    text-align: center;
}

#quoteBtn, #catBtn {
    margin-top: 20px;
}